services:
  # db:
  #   image: timescale/timescaledb:latest-pg12
  #   environment:
  #     - POSTGRES_USER=user
  #     - POSTGRES_PASSWORD=password
  #     - POSTGRES_DB=data_management
  #   expose:
  #     - 5432
  #   # ports:
  #   #   - 15432:5432

  # pgbouncer:
  #   image: edoburu/pgbouncer
  #   ports:
  #     - "6432:6432"
  #   volumes:
  #     - ./pgbouncer/pgbouncer.ini:/etc/pgbouncer/pgbouncer.ini
  #     - ./pgbouncer/userlist.txt:/etc/pgbouncer/userlist.txt
  #   command: ["pgbouncer", "/etc/pgbouncer/pgbouncer.ini"]
  #   depends_on:
  #     - db

  redis:
    image: redis:latest
    ports:
      - 16379:6379